assignment1/cifar-10-batches-py
assignment1/mnist_train.csv
assignment1/t10k-images.idx3-ubyte
assignment1/t10k-labels.idx1-ubyte
assignment1/train-images.idx3-ubyte
assignment1/train-labels.idx1-ubyte
assignment1/data/cifar-10-batches-py